params {
    accession = "M21012"
    in = null
}

process {
    withName: TRIMAL {
        publishDir = [
            path: { "results" },
            mode: 'copy'
        ]
    }
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "$projectDir/environment.yml"
    }
}
